@font-face {
  font-family: 'Sporting Grotesque';
  src: url('SportingGrotesque-Regular.otf');
  font-style:   normal;
}

@font-face {
  font-family: 'New Rail';
  src: url('NewRailAlphabet-White.otf');
  font-style:   normal;
}